*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBEBEB;
}

a {
    text-decoration-line: none;
}

.white {
    color: #fff;
}

.bg-darkorange {
    background: #f17949;
}

.bg-orange {
    background: #fab131;
}

.flex {
    display: flex;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-item {
    display: inline-block;
}